@font-face {
  font-family: "BrelinBold";
  src: url("../fonts/brelin-bold-webfont.woff2") format("woff2"),
    url("../fonts/brelin-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrelinLight";
  src: url("../fonts/brelin-light-webfont.woff2") format("woff2"),
    url("../fonts/brelin-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrelinMedium";
  src: url("../fonts/brelin-medium-webfont.woff2") format("woff2"),
    url("../fonts/brelin-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrelinNormal";
  src: url("../fonts/brelin-normal-webfont.woff2") format("woff2"),
    url("../fonts/brelin-normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrelinRegular";
  src: url("../fonts/brelin-regular-webfont.woff") format("woff2"),
    url("../fonts/brelin-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  line-height: normal;
}

@font-face {
  font-family: "BrelinUltraLight";
  src: url("../fonts/brelin-ultralight-webfont.woff2") format("woff2"),
    url("../fonts/brelin-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
