.mainHeading {
  font-family: $brelinRegular;
  font-size: $font-size-medium;
  font-weight: 500;
  line-height: $line-height-normal;
}

.loginHeading {
  font-family: $primary-font;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
